body {
    background-color: rgb(244, 116, 4);
}
h1 { 
    color: rgb(87, 33, 0);
    text-align: center;
}

p {
    font-size: 18px;
    color: #333333;
}
main {
    padding: 20px;
    border: 2px solid rgb(68, 26, 0);
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form {
    display: flex;
    gap: 10px;
    align-items: center;
}
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.descripcion {
    display: none;
}
.platillo:hover .descripcion {
    display: block;
}